/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@import "tailwindcss";



:root {
  --background: #000000;
  --foreground: #F8F8F8;
  --primary: #D67A00;
  --secondary: #B3B3B3;
  --accents: #121212;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accents: var(--accents);
  --font-montserrat: var(--font-montserrat);
  --font-cormorantGaramond: var(--font-cormorantGaramond);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-cormorantGaramond), serif;
}

@keyframes slideIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes slideOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(30px); }
}

.animate-slideIn {
  animation: slideIn 0.4s ease forwards;
}
.animate-slideOut {
  animation: slideOut 0.4s ease forwards;
}
